@charset "utf-8";
/* CSS Document */
body{
	background-color:burlywood;
}
ul{
	list-style-type: none;
	padding: 0px;
	background-color: black;
	overflow: hidden;
}
li{
	display: inline;
	float: left;
	color: white;
}
li a{
	display: block;
	text-decoration: none;
	color:brown;
	font-size: 30px;
	padding: 10px;
	background-color: black;
}
li a:hover {
  color: white;
  background-color: dimgray;
  font-size: 32px;
}
.active{
  background-color:grey;
}

.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.img-radius{
	border: 5px solid black;
    border-radius: 30px;
}
.tabela{
	font: bold;
	font-size: 20px;
}
td {
	text-align: center;
}
table tr td{
	border: 1px solid;
}
table{
	margin-left: auto;
    margin-right: auto;
}
.left {
  background-color:firebrick;
  float:left;
  width:20%; 
}

.main {
  background-color:orangered;
  float:left;
  width:60%; 
}

.right {
  background-color:red;
  float:right;
  width:20%; 
}

@media screen and (max-width:1200px) {
  .left {background-color:darkgrey; width:50%; }
  .main {display:none;}
  .right {background-color:darkred; width:50%; }
  }

@media screen and (max-width:800px) {
  .left, .main, .right {width:100%;}
  .main {display: block; background-color:red;}
  }



